@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
	--color-primary-400: #0fff95;
	--color-secondary-600: #8b94a3;
	--color-tertiary-600: #06ba63;
}

/* Oculta el icono de mostrar contraseña en Edge */
input::-ms-reveal,
input::-ms-clear {
	display: none;
}

/* Oculta el icono de eliminar texto en el input de búsqueda */
input[type="search"]::-webkit-search-cancel-button {
	appearance: none;
	-webkit-appearance: none;
	display: none;
}

/* Scroll Y - Oculto */
.scroll-container-hidden {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
	scrollbar-color: transparent transparent;
}
.scroll-container-hidden:hover {
	scrollbar-color: #9ca3af transparent;
}
